.container
  .wrapper
    .middle-part
      .middle-part-plus +
      .middle-part-label Upload file
      label.middle-part-label
        input(type="file", name="myfile", (input)="onChangeImage($event)")
