
<div class="container">
  <div class="sign-in-header">{{"GET_STARTED.SIGN_IN_HEADER" | translate}}</div>
  <form class="sign-in-form" [formGroup]="signInForm">
    <mat-form-field class="sign-in-form--field">
      <input matInput="matInput" [placeholder]="'GET_STARTED.EMAIL' | translate" type="email" spellcheck="false" formControlName="email"/>
    </mat-form-field>
    <mat-form-field class="sign-in-form--field">
      <input matInput="matInput" [placeholder]="'GET_STARTED.PASSWORD' | translate" type="password" spellcheck="false" formControlName="password"/>
    </mat-form-field>
    <button class="sign-in-form--submit" (click)="tryToLogin()">{{"GET_STARTED.SIGN_IN" | translate}}</button>
  </form>
</div>